In [3]:
import pandas as pd
import os
import numpy as np
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
import pickle

In [4]:
print(os.listdir("../ACLED"))

['.git', '.gitattributes', '.ipynb_checkpoints', 'african_conflicts.csv', 'african_conflicts.ipynb', 'Analysis_app.py', 'data.pkl', 'LICENSE', 'README.md', 'Requirements.txt']

In [5]:
df = pd.read_csv('../ACLED/african_conflicts.csv', encoding = 'latin1', low_memory = False)

In [6]:
## Reducing the dataset

In [7]:
df.shape

(165808, 28)

In [8]:
df.head()

,ACTOR1,ACTOR1_ID,ACTOR2,ACTOR2_ID,ACTOR_DYAD_ID,ADMIN1,ADMIN2,ADMIN3,ALLY_ACTOR_1,ALLY_ACTOR_2,...,INTER1,INTER2,INTERACTION,LATITUDE,LOCATION,LONGITUDE,NOTES,SOURCE,TIME_PRECISION,YEAR
0,Police Forces of Algeria (1999-),NaN,Civilians (Algeria),NaN,NaN,Tizi Ouzou,Beni-Douala,NaN,NaN,Berber Ethnic Group (Algeria),...,1,7,17,36.61954,Beni Douala,4.08282,A Berber student was shot while in police cust...,Associated Press Online,1,2001
1,Rioters (Algeria),NaN,Police Forces of Algeria (1999-),NaN,NaN,Tizi Ouzou,Tizi Ouzou,NaN,Berber Ethnic Group (Algeria),NaN,...,5,1,15,36.71183,Tizi Ouzou,4.04591,Riots were reported in numerous villages in Ka...,Kabylie report,1,2001
2,Protesters (Algeria),NaN,NaN,NaN,NaN,Bejaia,Amizour,NaN,Students (Algeria),NaN,...,6,0,60,36.64022,Amizour,4.90131,Students protested in the Amizour area. At lea...,Crisis Group,1,2001
3,Rioters (Algeria),NaN,Police Forces of Algeria (1999-),NaN,NaN,Bejaia,Amizour,NaN,Berber Ethnic Group (Algeria),NaN,...,5,1,15,36.64022,Amizour,4.90131,"Rioters threw molotov cocktails, rocks and bur...",Kabylie report,1,2001
4,Rioters (Algeria),NaN,Police Forces of Algeria (1999-),NaN,NaN,Tizi Ouzou,Beni-Douala,NaN,Berber Ethnic Group (Algeria),NaN,...,5,1,15,36.61954,Beni Douala,4.08282,"Rioters threw molotov cocktails, rocks and bur...",Kabylie report,1,2001

In [9]:
df.tail()

,ACTOR1,ACTOR1_ID,ACTOR2,ACTOR2_ID,ACTOR_DYAD_ID,ADMIN1,ADMIN2,ADMIN3,ALLY_ACTOR_1,ALLY_ACTOR_2,...,INTER1,INTER2,INTERACTION,LATITUDE,LOCATION,LONGITUDE,NOTES,SOURCE,TIME_PRECISION,YEAR
165803,ZANU-PF: Zimbabwe African National Union-Patri...,3929.0,Civilians (Zimbabwe),685.0,685-3929,Harare,Harare,Harare City Council,NaN,NaN,...,3,7,37,-17.8858,Highfield,30.9919,NaN,Zimbabwe Human Rights Forum NGO February 2004,1,2003
165804,Police Forces of Zimbabwe (1987-),3050.0,Civilians (Zimbabwe),685.0,685-3050,Mashonaland West,Hurungwe,Hurungwe RDC,NaN,NaN,...,1,7,17,-15.7500,Muzarabani,29.3333,NaN,Zimbabwe Human Rights Forum NGO February 2004,1,2003
165805,ZANU-PF: Zimbabwe African National Union-Patri...,3929.0,Civilians (Zimbabwe),685.0,685-3929,Mashonaland East,Murehwa,Murehwa RDC,NaN,MDC: Movement for Democratic Change,...,3,7,37,-17.6469,Murehwa,31.7775,NaN,Zimbabwe Human Rights Forum NGO February 2004,1,2003
165806,ZNLWVA: Zimbabwe National Liberation War Veter...,3930.0,Civilians (Zimbabwe),685.0,685-3930,Masvingo,Gutu,Gutu RDC,ZANU-PF: Zimbabwe African National Union-Patri...,NaN,...,3,7,37,-19.6500,Gutu,31.1667,NaN,Zimbabwe Human Rights Forum NGO February 2004,1,2003
165807,Protesters (Zimbabwe),3163.0,NaN,0.0,0-3163,Mashonaland East,Seke,Manyame RDC,NaN,NaN,...,6,0,60,-18.2833,Beatrice,30.8666,Farm workers stage demonstration over cuts in ...,The Herald (Harare),1,2012

In [10]:
df.dtypes

ACTOR1               object
ACTOR1_ID           float64
ACTOR2               object
ACTOR2_ID           float64
ACTOR_DYAD_ID        object
ADMIN1               object
ADMIN2               object
ADMIN3               object
ALLY_ACTOR_1         object
ALLY_ACTOR_2         object
COUNTRY              object
EVENT_DATE           object
EVENT_ID_CNTY        object
EVENT_ID_NO_CNTY    float64
EVENT_TYPE           object
FATALITIES            int64
GEO_PRECISION         int64
GWNO                  int64
INTER1                int64
INTER2                int64
INTERACTION           int64
LATITUDE             object
LOCATION             object
LONGITUDE            object
NOTES                object
SOURCE               object
TIME_PRECISION        int64
YEAR                  int64
dtype: object

In [11]:
df['EVENT_DATE'] = pd.to_datetime(df['EVENT_DATE'], format ='%d/%m/%Y')

In [12]:
print(df.isnull().sum())

ACTOR1                   0
ACTOR1_ID            25061
ACTOR2               43553
ACTOR2_ID            25061
ACTOR_DYAD_ID        25061
ADMIN1                   0
ADMIN2                 132
ADMIN3               78875
ALLY_ACTOR_1        137664
ALLY_ACTOR_2        146157
COUNTRY                  0
EVENT_DATE               0
EVENT_ID_CNTY            0
EVENT_ID_NO_CNTY     25061
EVENT_TYPE               0
FATALITIES               0
GEO_PRECISION            0
GWNO                     0
INTER1                   0
INTER2                   0
INTERACTION              0
LATITUDE                 0
LOCATION                 3
LONGITUDE                0
NOTES                10227
SOURCE                 173
TIME_PRECISION           0
YEAR                     0
dtype: int64

In [13]:
COLS_KEEP = ['ACTOR1', 'ADMIN1', 'ADMIN2','ADMIN3', 'COUNTRY', 'EVENT_DATE', 'EVENT_TYPE','FATALITIES','GEO_PRECISION','GWNO', 'LATITUDE', 'LOCATION', 'LONGITUDE','NOTES', 'SOURCE', 'YEAR']

In [14]:
df = df[COLS_KEEP]

In [15]:
df.head()

,ACTOR1,ADMIN1,ADMIN2,ADMIN3,COUNTRY,EVENT_DATE,EVENT_TYPE,FATALITIES,GEO_PRECISION,GWNO,LATITUDE,LOCATION,LONGITUDE,NOTES,SOURCE,YEAR
0,Police Forces of Algeria (1999-),Tizi Ouzou,Beni-Douala,NaN,Algeria,2001-04-18,Violence against civilians,1,1,615,36.61954,Beni Douala,4.08282,A Berber student was shot while in police cust...,Associated Press Online,2001
1,Rioters (Algeria),Tizi Ouzou,Tizi Ouzou,NaN,Algeria,2001-04-19,Riots/Protests,0,3,615,36.71183,Tizi Ouzou,4.04591,Riots were reported in numerous villages in Ka...,Kabylie report,2001
2,Protesters (Algeria),Bejaia,Amizour,NaN,Algeria,2001-04-20,Riots/Protests,0,1,615,36.64022,Amizour,4.90131,Students protested in the Amizour area. At lea...,Crisis Group,2001
3,Rioters (Algeria),Bejaia,Amizour,NaN,Algeria,2001-04-21,Riots/Protests,0,1,615,36.64022,Amizour,4.90131,"Rioters threw molotov cocktails, rocks and bur...",Kabylie report,2001
4,Rioters (Algeria),Tizi Ouzou,Beni-Douala,NaN,Algeria,2001-04-21,Riots/Protests,0,1,615,36.61954,Beni Douala,4.08282,"Rioters threw molotov cocktails, rocks and bur...",Kabylie report,2001

In [16]:
df.tail()

,ACTOR1,ADMIN1,ADMIN2,ADMIN3,COUNTRY,EVENT_DATE,EVENT_TYPE,FATALITIES,GEO_PRECISION,GWNO,LATITUDE,LOCATION,LONGITUDE,NOTES,SOURCE,YEAR
165803,ZANU-PF: Zimbabwe African National Union-Patri...,Harare,Harare,Harare City Council,Zimbabwe,2003-12-31,Violence against civilians,0,1,552,-17.8858,Highfield,30.9919,NaN,Zimbabwe Human Rights Forum NGO February 2004,2003
165804,Police Forces of Zimbabwe (1987-),Mashonaland West,Hurungwe,Hurungwe RDC,Zimbabwe,2003-12-31,Violence against civilians,0,1,552,-15.7500,Muzarabani,29.3333,NaN,Zimbabwe Human Rights Forum NGO February 2004,2003
165805,ZANU-PF: Zimbabwe African National Union-Patri...,Mashonaland East,Murehwa,Murehwa RDC,Zimbabwe,2003-12-31,Violence against civilians,0,1,552,-17.6469,Murehwa,31.7775,NaN,Zimbabwe Human Rights Forum NGO February 2004,2003
165806,ZNLWVA: Zimbabwe National Liberation War Veter...,Masvingo,Gutu,Gutu RDC,Zimbabwe,2003-12-31,Violence against civilians,0,1,552,-19.6500,Gutu,31.1667,NaN,Zimbabwe Human Rights Forum NGO February 2004,2003
165807,Protesters (Zimbabwe),Mashonaland East,Seke,Manyame RDC,Zimbabwe,2012-12-31,Riots/Protests,0,1,552,-18.2833,Beatrice,30.8666,Farm workers stage demonstration over cuts in ...,The Herald (Harare),2012

In [17]:
df.dtypes

ACTOR1                   object
ADMIN1                   object
ADMIN2                   object
ADMIN3                   object
COUNTRY                  object
EVENT_DATE       datetime64[ns]
EVENT_TYPE               object
FATALITIES                int64
GEO_PRECISION             int64
GWNO                      int64
LATITUDE                 object
LOCATION                 object
LONGITUDE                object
NOTES                    object
SOURCE                   object
YEAR                      int64
dtype: object

In [18]:
df.EVENT_TYPE.value_counts()

Riots/Protests                                47224
Violence against civilians                    45021
Battle-No change of territory                 44005
Strategic development                         10923
Remote violence                               10456
Battle-Government regains territory            2632
Non-violent transfer of territory              2566
Battle-Non-state actor overtakes territory     2135
Headquarters or base established                771
Remote Violence                                  30
Violence Against Civilians                       21
Battle-no change of territory                    16
Strategic Development                             7
Strategic development                             1
Name: EVENT_TYPE, dtype: int64

In [19]:
df.describe()

          FATALITIES  GEO_PRECISION           GWNO           YEAR
count  165808.000000  165808.000000  165808.000000  165808.000000
mean        4.420257       1.261061     538.296964    2010.760898
std        76.071441       0.524248      61.974200       5.897476
min         0.000000       1.000000     404.000000    1997.000000
25%         0.000000       1.000000     490.000000    2007.000000
50%         0.000000       1.000000     520.000000    2013.000000
75%         1.000000       1.000000     615.000000    2016.000000
max     25000.000000       3.000000     651.000000    2017.000000

In [20]:
df.dtypes

ACTOR1                   object
ADMIN1                   object
ADMIN2                   object
ADMIN3                   object
COUNTRY                  object
EVENT_DATE       datetime64[ns]
EVENT_TYPE               object
FATALITIES                int64
GEO_PRECISION             int64
GWNO                      int64
LATITUDE                 object
LOCATION                 object
LONGITUDE                object
NOTES                    object
SOURCE                   object
YEAR                      int64
dtype: object

In [21]:
with open('data.pkl', 'wb') as f:
    pickle.dump(df, f)